body {
    background: #ffffff;
    color: darkslategray;
}

.content-wrapper {
    background: #eee;
}

.sidebar-block {
    background: #ffffff;
    border-right: 1px solid lightgray;
}

.sidebar {
    background: #ffffff;
}

.card, .form-control {
    background: #ffffff;
    color: darkslategrey;
}

.form-control:focus {
    background: #ffffee;
    color: darkslategrey;
}

.form-control:disabled {
    background: #eeeeee;
    color: darkslategrey;
}

select.form-control {
    outline: 1px solid rgb(148, 148, 148);
    color: darkslategrey;
}

.input-group-append>button {
    /* border: 1px solid rgb(148, 148, 148); */
    outline: 1px solid rgb(148, 148, 148);
    margin-left: 2px;
}


/* .text-white { */
/* color: #000000; */
/* } */


/* .sidebar .nav.sub-menu .nav-item .nav-link.active --- NAV */
.sidebar-block, .sidebar {
    background: white;
}

.sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: white;
    background: teal;
    font-weight: 700;
}

.sidebar .nav.sub-menu .nav-item {
    padding: 0 0 0 0px;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: teal;
    font-weight: 700;
    background: transparent;
}

.sidebar .nav.sub-menu {
    padding: 0;
}

.sub-menu>.nav-item>a:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}

.lightmode {
    background-color: white;
}

.footer {
    background: #fff;
    margin: 0;
    padding: 5px;
    border-top: 1px solid darkslategray;
}

.no-border {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #dad9d9;
}

.table-hover:hover {
    background-color: #eff3f5;
}

.table-hover:hover tr:nth-of-type(odd) {
    background: #edeeec;
}

.table-hover:hover tr:nth-of-type(even) {
    background: #ffffff;
}

.text-lightv {
    color: black;
}