body {
    background: #ffffee;
    color: slategray;
}

.content-wrapper {
    background: #eee;
}

.sidebar-block {
    background: #ffffff;
    border-right: 1px solid lightgray;
}

.sidebar {
    background: #ffffff;
}

.card, .form-control {
    background: #ffffff;
}

.form-control:focus {
    background: #d9e4e2;
    color: teal;
}

select {
    outline: 1px solid rgb(148, 148, 148);
}

.text-white {
    color: #000000;
}


/* .sidebar .nav.sub-menu .nav-item .nav-link.active --- NAV */

.sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: white;
    background: teal;
    font-weight: 700;
}

.sidebar .nav.sub-menu .nav-item {
    padding: 0 0 0 0px;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: teal;
    font-weight: 700;
    background: transparent;
}

.sidebar .nav.sub-menu {
    padding: 0;
}

.sub-menu>.nav-item>a:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}